* {
    transition-duration: 300ms;
    scroll-behavior: smooth;
    overflow-x: hidden;
    }

  body {
    margin: 0;
    font-family: 'Patrick Hand', cursive;
    }

  .pageTitle {
    font-size: 80px;
    padding-left: 8px;
    }

  .pageSubTitle {
    text-align: right;
    padding: 15px 45px;
    font-size: 35px;
  }

  .emoji {
    font-size: 14px;
  }

  input {
    border: 2px solid grey;
    border-radius: 5px;
  }

  button {
    border-left: 1px double black;
    border-right: 1px double black;
  }

  button:hover {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    background-color: black;
    color: white;
  }

  #flashNotification {
    color: black;
    border: 2px dashed black;
    background-color: rgba(255,255,255,0.5);
    font-size: 20px;
  }

  .card {
    background-color: rgba(188, 187, 255, 0.3);
  }

  #notice {
    font-size: 18px;
  }

  .postcard {
    margin: 6px;
  }

  @media screen and (max-width: 580px) {
      /*max-width: 1000px;*/
      .pageTitle {
        font-size: 60px;
        padding: 0;
        margin: 0;
      }
      .pageSubTitle {
        margin-top: -24px;
      }
      .emoji {
        font-size: 10px;
      }

  }

  @media (max-width: 400px) {
      /*max-width: 800px;*/
  }

  @media screen and (max-width: 1360px) {
        .pageSubTitle {
          padding: 0px 10px;
          font-size: 18px;
        }
  }

  @media screen and (max-height: 800px) {
          .pageSubTitle {
            color: transparent;
        }
  }