* {
    transition-duration: 300ms;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Patrick Hand', cursive;
  }

  @media (max-width: 580px) {
    max-width: 1000px;
  }

  @media (max-width: 400px) {
    max-width: 800px;
  }