{% extends "layout-feed.html" %}

{% block title %}
   Feed
{% endblock %}

{% block main %}}
<div class="container absolute top-1/4 left-1/2 -translate-x-1/2" id="posts-overlay">
    <br><br>
    <span id="notice">You are signed in as {{ username }} (<a href="/logout"><b>Log Out</b></a>)</span>
    <form action="/feed" method="post">
        <div>
                <textarea name="message" rows="3" wrap="soft" maxlength="500" class="form-control"
                autocomplete="off" autofocus placeholder="Post Message"></textarea>
        </div>
        <button class="p-2 my-2" type="submit">😊Post😊</button>
    </form>
    {% for post in postFeed %}
    <div class="card postcard">
            <div class="card-body">
                    <div class="card-title"><strong><h4>"{{ post.username }}"</h4><h4>{{ post.date }}</h4></strong></div>
                    <div class="card-text">{{ post.message }}</div>
                    <form action="/delete" method="post"><button name="postId" id="delButton" type="submit" value="{{ post.id }}">🗑️</button> </form>
            </div>
    </div>
    {% endfor %}
{% endblock %}