{% extends "layout-index.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
                <div class="absolute left-1/2 top-1/4 -translate-x-1/2 -translate-y-1/2">
                    <!--Landpage buttons-->
                    <div><a class=" p-4 py-24 px-40 border-4 text-slate-900 border-double border-slate-900 hover:text-white
                    after:absolute after:bg-slate-900 after:right-full after:top-0 after:w-full after:h-full
                    hover:after:translate-x-full after:duration-300 overflow-hidden">
                    <h3 class="relative z-20 text-center">Sign as Anonymous</h3>
                    </a></div>
                </div>
                <div class="absolute left-2/3 top-1/3 -translate-x-1/2 -translate-y-1/3">
                    <div><a class=" p-4 py-24 px-40 border-4 text-slate-900 border-double border-slate-900 hover:text-white
                        after:absolute after:bg-slate-900 after:right-full after:top-0 after:w-full after:h-full
                        hover:after:translate-x-full after:duration-300 overflow-hidden">
                        <h3 class="relative z-20 text-center">Sign In</h3>
                        </a></div>
                </div>
                <div class="absolute left-1/3 top-1/3 -translate-x-1/2 -translate-y-1/3">
                    <div><a class="p-4 py-24 px-40 border-4 text-slate-900 border-double border-slate-900 hover:text-white
                        after:absolute after:bg-slate-900 after:right-full after:top-0 after:w-full after:h-full
                        hover:after:translate-x-full after:duration-300 overflow-hidden">
                        <h3 class="relative z-20 text-center">Sign Up</h3>
                        </a></div>
                </div>
{% endblock %}