<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/-->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <!-- tailwind CSS: https://tailwindcss.com/docs/columns-->
        <script src="https://cdn.tailwindcss.com"></script>

        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">

        <link href="/static/feedstyle.css" rel="stylesheet">

        <!--Google fonts: Patrick Hand font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">

        <title>MotivateMe: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <!--Landpage background image-->
        <div class = "flex flex-1 flex-col">
            <section class="flex relative min-h-screen">
                <header>
                    <a href="/"><span class="absolute pageTitle" >MotivateMe<span class="emoji">😊</span>org</span></a>
                </header>
                {% if get_flashed_messages() %}
                <div class="absolute left-1/2 top-1/3 -translate-x-1/2 translate-y-32">
                    <div id="flashNotification" class="alert alert-primary mb-0 text-center" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </div>
                {% endif %}
                <img src="https://images.pexels.com/photos/1420709/pexels-photo-1420709.jpeg" alt="White desk, keyboard & earphones"
                class="object-cover">
                {% block main %}{% endblock %}
            </section>
            <footer class="text-center font-thin">
                <p>Website designed by Ricky Ricardo</p>
                <p>In collaboration with CS50 (Final Project)</p>
            </footer>
        </div>
    </body>
</html>